<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>meals</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <form action="/add_meal" method="POST">

    <div>
        <label class="formL">title</label>
    </br>
        <input class="form" type="text" name="title">
    </div>

    <div>
        <label class="formL">image</label>
    </br>
        <input class="form" type="url" name="image">
    </div>

    <div>
        <label class="formL">description</label>
    </br>
        <input class="form" type="text" name="text">
    </div>
    <input type="submit"/>
    </form>
</body>
</html>