<!DOCTYPE html>
<head>
	<title>log in</title>
	<link rel="stylesheet" href="static/css/style.css">
</head>
<body>
	<h1 class="title"> log in</h1>
	<form action="/login" method="POST">
	<div>
		<label class="formL">email</label>
	</br>
		<input class="form" type="text" name="email" placeholder="enter email" required >
	</div>
	<div>
		<label class="formL">password</label>
	</br>
		<input class="form" type="password" name="password" placeholder="pick a password" minlength="6" required>
	</div>
	<div>
		<input class="form" type="submit"/>
	</div>
	</form>
</body>