div{
	text-align:center;
}
img{
	width:400px;
}
button{
	width:400px;
	height:50px;
	background-color:#ffd1dc;
	color:black;
	margin:10px;
	font-size:120%;

}

.title{

	margin:10px;
	text-align:center;
}
#notif-bar {
    top: 0;
    left: 0;
    width: 100%;
    background-color:#ffd1dc;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
	color:black;
	font:david;
	border:2px solid black;
}

.notif{
	margin:7px;
	color:black;
}

.form{
	margin:10px;
	background-color: #ffd1dc;
}
body{
	background-color: #f5f5dc;
}
p{
	text-align: center;
}
.reviews{
	background-color:#ffd1dc ;
	border:2px solid black;
	margin:0 auto;
	margin-bottom:8px;
	width:500px;
	border-radius: 20px;

}